.cart{
    
    background: rgba(255, 153, 0, 0.3);
    border-radius: 4px;
    padding: 25px;
    position: sticky;
    top: 0;
}
.btn-clear-cart{
    display: flex;
    justify-content: space-between;
    background-color: red;
    border-radius: 5px;
    margin: 10px auto;
    color: white;
    width: 90%;
    align-items: center;
}
.delete-icon-bar{
    color: rgb(244, 248, 253);
}